@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --purple: #8e44ad;
  --border-shadow: 0 0.5rem 1rem black;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

.navbar {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #e50914; /* Optional: change color on hover */
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(129, 77, 28);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header i{
    padding: 25px 12.5%;
  position: fixed;
  top: 0;
  left: -90px;
  font-size: 30px;
}
body {
  background: black;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  background: url(../images/1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
}
.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  overflow: hidden;
}
.content .logo {
  font-size: 30px;
}
.text-sci h2 {
  color: rgb(240, 187, 138);
  font-size: 60px;
}
.text-sci h2:hover {
  color: rgb(138, 240, 180);
  font-size: 60px;
}
.text-sci h2 span {
  font-size: 25px;
  line-height: 1;
}

.logreg-box .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: aliceblue;
}

.logreg-box .form-box.login {
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.7s;
}
.logreg-box.active .form-box.login {
  transform: translateX(480px);
  transition-delay: 0s;
}
.logreg-box .form-box.register {
  transform: translateX(480px);
  transition: transform 0.6s ease;
  transition-delay: 0s;
}
.logreg-box.active .form-box.register {
  transform: translateX(0);
  transition-delay: 0.7s;
}
.form-box h2 {
  font-size: 32px;
  text-align: center;
}
.form-box .input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: aliceblue;
  font-weight: 600;
  padding-right: 28px;
}
.input-box label {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.5s ease;
}
.input-box .icon {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.remember-forgot {
  font-size: 15px;
  font-weight: 600;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: rgb(255, 255, 255);
  margin: 3px;
}
.remember-forgot a {
  color: aliceblue;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: rgb(95, 14, 11);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  box-shadow: 0 0 6px rgb(0, 0, 0);
}
.form-box .login-register {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  margin-top: 25px;
}
.login-register p a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.login-register p a :hover {
  color: white;
}
.background {
  backdrop-filter: blur(45px);
  width: 100%;
  height: 100vh;
  background: url(../images/backimage.avif) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1px;

}

 .logo {
        position: absolute;
        top: 5em;
        left: 10em;
      }

      .logo img {
        width: 10em; /* Adjust size as needed */
      }